SIUC311/Service References/SIUC311ServiceRef/311Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://it-appdev1.ad.siu.edu/SIUC311Services/311Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SIUC311Services" />
  <xs:import schemaLocation="http://it-appdev1.ad.siu.edu/SIUC311Services/311Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="BeginSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BeginSessionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPermissions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="session_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPermissionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckPermissionsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSessionAlive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="session_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSessionAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsSessionAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="session_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EndSessionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="session_id" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SIUC311Services" minOccurs="0" name="RepInsert" nillable="true" type="q1:ReportObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertReportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPhoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="session_id" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SIUC311Services" minOccurs="0" name="PhoInsert" nillable="true" type="q2:PhotoObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPhotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertPhotoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveReportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReports">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="session_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isNew" type="xs:boolean" />
        <xs:element minOccurs="0" name="dir" type="xs:int" />
        <xs:element minOccurs="0" name="paged" type="xs:boolean" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sort_select" nillable="true" type="q3:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SIUC311Services" minOccurs="0" name="GetAllReportsResult" nillable="true" type="q4:ArrayOfReportObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyReports">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="session_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isNew" type="xs:boolean" />
        <xs:element minOccurs="0" name="dir" type="xs:int" />
        <xs:element minOccurs="0" name="paged" type="xs:boolean" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sort_select" nillable="true" type="q5:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyReportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SIUC311Services" minOccurs="0" name="GetMyReportsResult" nillable="true" type="q6:ArrayOfReportObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReportsByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="session_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isNew" type="xs:boolean" />
        <xs:element minOccurs="0" name="dir" type="xs:int" />
        <xs:element minOccurs="0" name="paged" type="xs:boolean" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sort_select" nillable="true" type="q7:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReportsByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SIUC311Services" minOccurs="0" name="GetAllReportsByTypeResult" nillable="true" type="q8:ArrayOfReportObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyReportsByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="session_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isNew" type="xs:boolean" />
        <xs:element minOccurs="0" name="dir" type="xs:int" />
        <xs:element minOccurs="0" name="paged" type="xs:boolean" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sort_select" nillable="true" type="q9:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyReportsByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SIUC311Services" minOccurs="0" name="GetMyReportsByTypeResult" nillable="true" type="q10:ArrayOfReportObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPagingState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="session_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPagingStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPagingStateResult" nillable="true" type="q11:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SIUC311Services" minOccurs="0" name="GetPhotoResult" nillable="true" type="q12:PhotoObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportManagement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportManagementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SIUC311Services" minOccurs="0" name="GetReportManagementResult" nillable="true" type="q13:ReportManagement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CloseReportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OpenReportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ElevateReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ElevateReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ElevateReportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="admin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClaimReportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>