SIUC311/Service References/SIUC311ServiceRef/311Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SIUC311Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SIUC311Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReportObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReportAccuracy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportAuthor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportDirection" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportId" type="xs:int" />
      <xs:element minOccurs="0" name="ReportLatitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportLongitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReportType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportObject" nillable="true" type="tns:ReportObject" />
  <xs:complexType name="PhotoObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReportForeignKey" type="xs:int" />
      <xs:element minOccurs="0" name="ReportId" type="xs:int" />
      <xs:element minOccurs="0" name="ReportPhoto" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhotoObject" nillable="true" type="tns:PhotoObject" />
  <xs:complexType name="ArrayOfReportObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportObject" nillable="true" type="tns:ReportObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportObject" nillable="true" type="tns:ArrayOfReportObject" />
  <xs:complexType name="ReportManagement">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReportForeignKey" type="xs:int" />
      <xs:element minOccurs="0" name="ReportFrequency" type="xs:int" />
      <xs:element minOccurs="0" name="ReportId" type="xs:int" />
      <xs:element minOccurs="0" name="ReportPriority" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportManagement" nillable="true" type="tns:ReportManagement" />
</xs:schema>